<h1>¿Where do you want to go?</h1>

<nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Step 1 - Flight information</li>
        <li class="breadcrumb-item">Step 2 - Destiny</li>
        <li class="breadcrumb-item">Step 3 - Data</li>
    </ol>
</nav>

<div class="row">
    <div class="col col-12 col-4 col-sm-12 col-md-8 col-lg-5">
        <form class="form-search" asp-action="ConfirmOrigin">
            <h1 class="h3 mb-3 font-weight-normal">Flight information</h1>

            <label for="inputOrigin" class="sr-only">Origin</label>
            <input type="text" id="inputOrigin" name="inputOrigin" class="form-control form-control-sm autocomplete" placeholder="Type origin city" required autofocus />
            <div id="inputOriginSelector" class="input-selector-box"></div>
            <br />

            <label for="inputDestiny" class="sr-only">Destiny</label>
            <input type="text" id="inputDestiny" name="inputDestiny" class="form-control form-control-sm autocomplete" placeholder="Type destiny city" required />
            <div id="inputDestinySelector" class="input-selector-box"></div>
            <br />

            <div class="row">
                <div class="col">
                    <label for="departureDate" class="sr-only">Departure date</label>
                    <input type="date" id="departureDate" name="departureDate" class="form-control form-control-sm" required />
                </div>
                <div class="col">
                    <label for="returnDate" class="sr-only">Return date (Optional)</label>
                    <input type="date" id="returnDate" name="returnDate" class="form-control form-control-sm" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col">
                    <label for="adults" class="sr-only">Passengers <br />(adults)</label>
                    <select name="adults" id="adults" class="form-control form-control-sm">
                        <option value="1" selected>1</option>
                    </select>
                </div>
                <div class="col">
                    <label for="children" class="sr-only">Passengers <br />(children)</label>
                    <select name="children" id="children" class="form-control form-control-sm">
                        <option value="">No children</option>
                    </select>
                </div>
                <div class="col">
                    <label for="infants" class="sr-only">Passengers <br />(infants)</label>
                    <select name="infants" id="infants" class="form-control form-control-sm">
                        <option value="">No infants</option>
                    </select>
                </div>
            </div>
            <br />

            <button class="btn btn-sm btn-primary btn-block" type="submit">Search flights</button>
        </form>
    </div>
</div>